body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  padding-top: 20px;
  margin: auto;
  height: 150px;
  width: 855px;
  font-size: 15px;
  border: solid 3px black;
  text-align: center;
}

#add-item-btn {
  margin-right: 600px;
}

#checkout {
  margin-left: 500px;
}

#cart {
  margin-left: 650px;
  margin-bottom: 50px;
}
